.card-wrapper {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(51,51,51,1);
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    .card {
        width: 100%;

        .card-image {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 12px;
                transition: all .3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .card-data {
            text-align: center;
            padding: .5em 0;
            color: #333;

            .title-card {
                margin-bottom: .5em;
            }
        }
    }
}