$primarycolor:#ee9595;

.header-wrapper {
    width: 100%;
    background-color: $primarycolor;
    color: white;

    .header {
        min-width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        height: 70px;

        .logo {
            h2 {
                cursor: pointer;
            }
        }

        .navbar {
            width: 10%;

            ul {
                list-style: none;
                display: flex;
                width: 100%;
                justify-content: space-between;

                li {
                    text-transform: uppercase;
                    .cart-qty{
                        font-size: 12px;
                    }

                    &.login-header {
                        cursor: pointer;
                    }

                    &.menu-header {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 1125px) {
    .header-wrapper {
        .header {
            width: 90%;

            .navbar {
                width: 30%;
            }
        }
    }
}